
@media all and (max-width:1350px){
    header p{
        color: #8C8C8F;
    }

}
@media all and (max-width:700px){
    header{
        height: auto !important;
    }
    header h1{
        padding-top: 20px;
        font-size: 40px;
    }
    header p{
        padding-bottom: 10px;
    }
}