
.main-slider img{
    width: 100%;
}

.main-slider {
    position:relative;
    padding-top:30px;
  }
  .slick-prev.slick-arrow, 
  .slick-next.slick-arrow
  {
    width:68px;
    height:68px;
    color: transparent;
    background-image:url('https://picua.org/images/2019/03/06/53baedb3dd3b958ac288383901f1dc98.png');
  position: absolute;
  }
  .main-slider .slick-prev.slick-arrow{
  background-position: -16px -53px;
  top:203px;
  right:83.5%;
  z-index: 1;
  }
  .main-slider .slick-next.slick-arrow{
  background-position: -91px -53px;  
  top:203px;
  left:83.5%;
  }
  .alum{
    width:285px;
    height:47px;
    background-color: rgba(0,0,0,0.5);
    z-index:1;
    position:absolute;
    top:220px;
    left:19.7%;
    color:#F4F4F4;
    text-transform: uppercase;
    font-size:30px;
    font-weight:lighter;
    vertical-align:top;
    padding-left:15px;
    padding-top:3px;
  }
  .ray-ban{
    width:329px;
    height:47px;
    background-color: rgba(0,0,0,0.5);
    z-index:1;
    position:absolute;
    top:270px;
    left:19.7%;
    padding-left:14px;
    padding-top:3px;
  }
  .ray-ban a{
    color:#F4F4F4;
    opacity:1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
  }
  