
.about-us, .what-we-do, .some-of, .our-team p{
    font-family: Roboto, sans-serif;
    color: #999999;
    font-size: 15px;
    text-align: center;
    padding-top: 11px;
}
.about-us-photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    
}
.about-us img{
    width: 390px;
    height: 260px;
}
.gradient {
	display: inline-block;
	position: relative;    
	line-height: 0;
}
.gradient:after {
	content: "";
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.gradient:before {
	content: "";
	opacity: 0;    
	transition: opacity 0.5s;
}
.gradient:hover:before {
	display: inline-block;
    width: 140px;
    height: 70px;
	margin: -30px 0 0 -57px; 
	position: absolute;
	top: 50%;
	left: 50%;    
	z-index: 100;    
    background: url(../images/ikons.png) 0 0 no-repeat;
    background-position: -776px -84px;
	opacity: 1;
}
.gradient:hover:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;    
	left: 0;   
	background: transparent;
	background-image: linear-gradient(to bottom, #ef8b8a, #eed687);    
	opacity: 0.8;    
}
.green-info{
   height: 270px;
   background-color: #95E1D3;
   margin-top: 111px;
}
.green-info .boxes-green{
   display: flex;
   border-right: 0.5px solid #ffffff;
}
.green-info .box{
   height: 270px;
   border-left: 0.5px solid #ffffff;
   text-align: center;
   color: #ffffff;
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
   flex: 1;
}
.green-info .box p{
   padding-top: 31%;
}
font{
   font-weight: 800;
   font-size: 55px;
}
.services .amazing_services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 56px;
}
.services .amazing_services .services_item{
    position: relative;
    min-height: 120px;
    max-width: 380px;
    margin-right: 30px;
    margin-left: 30px;
}
.amazing_services button{
    width: 40px;
    height: 40px;
    background-image: url(../images/ikons.png);
    float: left;
    margin-top: 7px;
}
.amazing_services .serv_text{
    display: flow-root;
    margin-left: 60px;
}
.amazing_services #clock{
    background-position: -8px -4px;
}
.amazing_services #picture{
    background-position: -55px -4px;
}
.amazing_services #screen{
    background-position: -100px -4px;
}
.amazing_services #book{
    background-position: -8px -52px;
}
.amazing_services #house{
    background-position: -55px -49px;
}
.amazing_services #frame{
    background-position: -100px -48px;
}
.amazing_services #service_name{
 text-transform: uppercase;
 font-family: 'Montserrat', regular;
 font-size: 15px;
 line-height: 30px;
 font-weight: 700;
}
.amazing_services #service_description{
    font-family: Roboto, sans-serif;
    color: #999999;
    font-size: 15px;
    line-height: 30px;
}
.services #line{
    width: 100%;
    border-top: 1px solid #e5e5e5;
    margin-top: 14px;
    margin-bottom: -16px;
}
.unique-design{
    background-image: url(../images/unique.png);
max-height: 850px;
overflow: hidden;
}
.unique-design #ipad{
    text-align: center;
    padding-right: 50px;
    padding-top: 11px;
}
.unique-design #iphone{
    position: absolute;
    margin-top: -461px;
    left: 57%;
}
.what-we-do .photo-dropblock{
    display: flex;
    margin-top: 91px;
}
.what-we-do .photo-dropblock-item{
    position: relative;
}
.comment-1{
    min-height: 290px;
    background-color: #f8f8f8;
    margin-top: 118px;
}


.our-team .grid{
    max-width: 1200px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    margin-top: 66px;
}
.our-team .grid li{
    display: inline-block;
    width: 378px;
    height: 453px;
    margin: 0;
    padding: 20px;
    text-align: left;
    position: relative;
}
.cs-style-3 figure{
    overflow: hidden;
}
.grid figure{
    margin: 0;
    position: relative;
}
.cs-style-3 figure img {
    transition: transform 0.4s;
}
.grid figure img{
    max-width: 100%;
    display: block;
    position: relative;
}
.cs-style-3 figcaption{
    height: 100px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
}
.grid figcaption{
    position: absolute;
    left: 0;
    padding: 13px;
    background: #95e1d3;
    color: #ffffff;
}
.grid figcaption p{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', regular;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    color: #ffffff;
}
.grid figcaption span{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 200;
}
.cs-style-3 figcaption div{
    position: absolute;
    right: -2px;
    bottom: -6px;
}
.grid figcaption div{
    text-align: center;
    display: inline-block;
}
.cs-style-3 figcaption div button{
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(../images/ikons.png);
}
.cs-style-3 figcaption div button:hover{
    background-color: #ef8b8a;
    background-blend-mode: color-dodge;
}
.cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img{
    transform: translateY(-50px);
 }
.cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption{
      opacity: 1;
      transform: translateY(0px);
      transition: transform 0.4s, opacity 0.1s;
  }



.brands{
    min-height: 250px;
    background-color: #F5F5F5;
    margin-top: 118px;
}
.brands .brands-name{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5%;
}
.brands .brands-name>div{
    content: '';
    background-image: url(../images/ikons.png);
    width: 130px;
    height: 130px;
}
.brands .brands-name :nth-child(1){
    background-position: -138px -124px;
}
.brands .brands-name :nth-child(2){
    background-position: 8px -137px;
}
.brands .brands-name :nth-child(3){
    background-position: -14px -279px;
}
.brands .brands-name :nth-child(4){
    background-position: -165px -452px;
}
.brands .brands-name :nth-child(5){
    background-position: -5px -450px;
}
.brands .brands-name :nth-child(6){
    background-position: -159px -287px;
}
.photos{
    content: '';
    width: 100%;
    height: 649px;
    justify-content: center;
    background-image: url(../images/photo-collage.png);
    background-attachment: fixed;
    background-size: contain;
    margin-top: 100px; 
}
.comment-2{
    min-height: 268px;
    margin-top: 160px;
}
.people-say{
    background-image: url(../images/mountain.png);
    min-height: 830px;
    overflow: hidden;
}
.people-say .people-say-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 88px;
}
.people-say-wrapper .people-say-item{
    max-width: 520px;
    display: flex;
    margin-bottom: 66px;
}
 #bold_text{
    font-family: 'Montserrat', regular;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    line-height: 33px;
}
 #light_text{
    font-family: Roboto, sans-serif;
    color: #999999;
    font-size: 15px;
    padding-top: 11px;
}
.people-say-wrapper .people-say-item #people-photo{
    content: '';
    background-image: url(../images/ikons.png);
    width: 113px;
    height: 113px;

}
.people-say-wrapper .people-say-item #people-text{
    max-width: 374px;
    padding-top: 3%;
    padding-left: 35px;
}
.people-say-item i::after{
    content: "";
    display: block;
    width: 68px;
    height: 3px;
    background-color: #F38181;
    margin-bottom: -16px;
    margin-top: 18px;
}
.latest-blog .blog-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 48px;
}
.latest-blog .blog-item{
    max-width: 380px;
}
.blog-item #light_text::after{
    content: "";
    display: block;
    height: 1px;
    background-color: #e5e5e5;
    margin-bottom: -16px;
    margin-top: 18px;
}
.map{
    background-image: url(../images/map.png);
    min-height: 200px;
    overflow: hidden;
    margin-top: 100px;
}
.blog-item a, .blog-item button{
    text-decoration: none;
    line-height: 50px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #999999;
    font-style: italic;
}
.blog-item a::before{
    content: "";
    width: 20px;
    height: 15px;
    background-image: url(../images/ikons.png);
    background-position: -185px -27px;
    display: inline-block;
    margin-right: 7px;
}
.blog-item button::before{
    content: "";
    width: 20px;
    height: 17px;
    background-image: url(../images/ikons.png);
    background-position: -227px -26px;
    display: inline-block;
    margin-right: 7px;
}
h5{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-top: 57px;
    color: #F38181;
    text-align: center;
}
h5::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #F38181;
    margin: 14px auto;
}
h5::before{
    content: "";
    display: block;
    width: 20px;
    height: 30px;
    background-image: url(../images/ikons.png);
    background-position: -281px -22px;
    margin-left: 49%;
    margin-bottom: 8px;
}
.latest-blog #sticker{
    position: absolute;
    display: block;
    background-color: #95E1D3;
    width: 60px;
    height: 70px;
    margin-top: -84px;
    margin-left: -10px;
}
.latest-blog #data{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-top: 7px;
    color: #ffffff;
    text-align: center;
}
.latest-blog #jan{
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #ffffff;
    font-style: italic;
    text-align: center;
}