.header{
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    width: 100%;    
    height: 1000px;
    background: url("../images/intro.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
.intro-title{
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 1;
}
.intro-title::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #ffffff;
    margin: 60px auto;
}
.intro-inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}
.intro-subtitle{
    margin-bottom: 20px;
    padding-top: 88px;
    font-size: 72px;
    color: #ffffff;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}
.intro-inner .btn{
/* display: inline-block; */
/* vertical-align: top; */
border: 3px solid #ffffff;
padding: 8px 30px;
color: #ffffff;
text-transform: uppercase;
font-size: 14px;
font-weight: 700;
text-decoration: none;
transition: background-color .1s linear, color .1s linear;
}
.intro .btn:hover{
    background-color: #ffffff;
    color: #333333;
}
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}
.nav{
    font-size: 14px;
}
.nav a{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
position: relative;
    transition: color .1s linear;
}
.nav a::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #FCE38A;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .1s linear;
}
.nav a:hover{
    color: #FCE38A;
}
.nav a:hover::after{
    opacity: 1;
}
header{
    width: 100%;
    padding-top: 30px;
    /* position: absolute; */
    z-index: 100;
}
.slider{
    width: 100%;
    /* position: absolute; */
    bottom: 0;
    left: 0;
    z-index: 1;
}
.slider_inner{
    display: flex;
    justify-content: space-between;
    padding-top: 161px;
}
.slider_item{
    width: 23%;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 20px 0;
    border-top: 3px solid #ffffff;
    opacity: .7;
    position: relative;
}
.slider_item.active{
    opacity: 1;
}
.slider_item.active::before{
content: "";
display: block;
width: 70px;
height: 3px;
position: absolute;
top: -3px;
left: 0;
z-index: 1;
background-color: #F38181;
}
.slider_num{
    font-size: 24px;
    font-weight: 700;
}