@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700,800&display=swap&subset=cyrillic-ext");
*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    font-family: 'Montserrat', sans-serif;
    font-family: 15px;
    line-height: 1.6;
    color: #333333;
    margin: 0;
}   
/* h1, h2, h3, h4, h5, h6{
    margin: 0;  
} */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

 h3, h4{
     color:#333333;
     text-align: center;
 }
 h3{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-top: 10px;
}
 h4{
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 300;
    margin-top: 90px;
 }
 h3::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #F38181;
    margin: 34px auto;
 }
 button{
    background-color: transparent;
    border: none;
    cursor: pointer;
 }
 